<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>

<body>

<nav th:replace="common/navbar :: navbar"/>

<div class="container">

    <div class="row mb-3">

        <div sec:authorize="!isAuthenticated()" class="offset-md-4 col-md-4">
            <div class="card-deck">
                <div class="card mb-6 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Recuperá tu Clave</h4>
                        <small th:text="${token.recoveryPasswordClient.email}"></small>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/account/recovery/edit/password}" method="post">
                            <input type="hidden" name="tokenId" th:value="${token.id}">
                            <input type="hidden" name="token" th:value="${token.token}">
                            <div class="form-group">
                                <label for="password1">Nueva clave</label>
                                <input type="password" class="form-control" min="0000000000" max="3333333333" name="password1" id="password1" placeholder="Ingresá tu nueva Clave" required autofocus>
                                <div th:if="${errPass1}" class="invalid-feedback d-block" th:text="${errPass1}"></div>
                            </div>
                            <div class="form-group">
                                <label for="password2">Repetí tu clave</label>
                                <input type="password" class="form-control" min="0000000000" max="3333333333" name="password2" id="password2" placeholder="Repite tu nueva Clave" required>
                                <div th:if="${errPass2}" class="invalid-feedback d-block" th:text="${errPass2}"></div>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Modificar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="common/footer :: footer"/>

</div>

<div th:replace="common/bottom :: body-bottom-scripts"/>

</body>
</html>