<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common-payment-link/header :: common-header"/>

<body>

<nav th:replace="common-payment-link/navbar :: navbar"/>

<div class="container">

    <div class="row pt-md-4 mb-3">
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card text-white bg-danger mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal" th:text="${error}"></h5>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="common-payment-link/footer :: footer"/>

</div>

<div th:replace="common-payment-link/bottom :: body-bottom-scripts"/>

</body>
</html>