<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"/>

<body>

<nav th:replace="common/navbar :: navbar"/>

<div class="container">
    <div class="row pt-md-4 mb-3">
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal" th:text="${paymentLink.company.name}"></h4>
                    </div>
                    <div class="card-body text-center">
                        <img th:src="${paymentLink.company.logo}" class="img-fluid">
                        <hr>
                        <h2 class="card-title pricing-card-title">$<span th:text="${#numbers.formatDecimal(paymentLink.amount, 0, 0)}"></span></h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Paga en hasta <span class="text-primary">6 cuotas</span></li>
                            <li class="text-primary">sin interés de
                                <span th:text="'$' + ${#numbers.formatDecimal(paymentLink.amount / 6, 0, 2, 'POINT')}"></span>
                            </li>
                            <li>sin tarjeta de crédito.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<div sec:authorize="isAuthenticated()" class="col-md-4">-->
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h5 class="my-0 font-weight-normal">Gracias por tu compra</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/payment-link/fee}" method="post">
                            <p class="mt-2 mb-3">
                                Elije el plan de cuotas:
                            </p>
                            <div class="form-check" th:each="fee,iter: ${fees}">
                                <input type="radio" name="feesQuantity" th:value="${fee.quantity}" th:checked="${iter.index == 0}">
                                <label class="form-check-label"
                                       th:text="${fee.quantity + ' cuotas sin interés de $' + #numbers.formatDecimal(fee.amount, 0, 2, 'POINT')}"></label>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-lg btn-block btn-outline-success">Comprar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="common/footer :: footer"/>

</div>

<div th:replace="common/bottom :: body-bottom-scripts"/>

</body>
</html>