<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common-payment-link/header :: common-header"/>

<body>

<nav th:replace="common-payment-link/navbar :: navbar"/>

<div class="container">
    <div class="row pt-md-4 mb-3">
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal" th:text="${paymentLink.company.name}"></h4>
                    </div>
                    <div class="card-body text-center">
                        <img th:src="${paymentLink.company.logo}" class="img-fluid">
                        <hr>
                        <h2 class="card-title pricing-card-title">$<span th:text="${#numbers.formatDecimal(paymentLink.amount, 0, 0)}"></span></h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Paga en hasta <span class="text-primary">6 cuotas</span></li>
                            <li class="text-primary">sin interés de
                                <span th:text="'$' + ${#numbers.formatDecimal(paymentLink.amount / 6, 0, 'COMMA', 2, 'POINT')}"></span>,
                            </li>
                            <li>sin tarjeta de crédito.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="!isAuthenticated()" class="col-md-4">
            <div class="card-deck">
                <div class="card mb-6 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Login</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login?action=payment}" method="post">
                            <div class="form-group">
                                <label for="usernameLogin">Usuario</label>
                                <input type="text" class="form-control" name="username" id="usernameLogin" placeholder="Ingrese su Usuario" autofocus required>
                            </div>
                            <div class="form-group">
                                <label for="passwordLogin">Clave</label>
                                <input type="password" class="form-control" name="password" id="passwordLogin" placeholder="Ingrese su Clave">
                            </div>

                            <div th:if="${param.error != null}" class="alert alert-danger">
                                <span th:text="${param.error}"></span>
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="common-payment-link/footer :: footer"/>

</div>

<div th:replace="common-payment-link/bottom :: body-bottom-scripts"/>

</body>
</html>